In [2]:
from pathlib import Path
import pandas as pd
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [8]:
# Filepath
filepath = "Cleaned_Randomized_df.csv"

# Read the CSV file, converting relevant columns to correct data types
df = pd.read_csv(filepath)
df.shape

(1995, 11)

In [9]:
df.head()

,Unnamed: 0,title_without_year,year,main_genre,MPAA-Rating,Runtime,Distributor,Budget_$,Domestic_$,International_$,total_revenue_$
0,103,Avatar,2009,Action,PG-13,162,Twentieth Century Fox,"$237,000,000","$749,766,139","$1,993,811,448","$2,743,577,587"
1,1,Star Wars: Episode VII - The Force Awakens,2015,Action,PG-13,138,Walt Disney Studios Motion Pictures,"$245,000,000","$936,662,225","$1,131,561,399","$2,068,223,624"
2,0,Jurassic World,2015,Sci-Fi,PG-13,124,Universal Pictures,"$150,000,000","$652,270,625","$1,018,130,012","$1,670,400,637"
3,188,The Lion King,2019,Adventure,PG,118,Walt Disney Studios Motion Pictures,"$260,000,000","$543,638,043","$1,113,305,351","$1,656,943,394"
4,128,The Avengers,2012,Adventure,PG-13,143,Walt Disney Studios Motion Pictures,"$220,000,000","$623,357,910","$895,455,078","$1,518,812,988"

In [10]:
df["Distributor"].value_counts()

Distributor
Warner Bros.                         266
Universal Pictures                   252
Twentieth Century Fox                218
Sony Pictures Entertainment (SPE)    182
Paramount Pictures                   173
                                    ...
IFC Films                              1
EuropaCorp                             1
Neon                                   1
FUNimation Entertainment               1
OTL Releasing                          1
Name: count, Length: 74, dtype: int64